
# ðŸ“˜ Python Programming Complete Beginner's Guide

This notebook covers Python programming from basics, designed for absolute beginners.  
You'll learn **theory**, see **step-by-step code examples**, solve **practice questions**, and work on **mini projects**.


##  What is Programming?
### âž¤ Why is Programming Needed?
Programming allows us to communicate with computers and tell them what tasks to perform. It helps us:
- Solve complex problems efficiently
- Automate repetitive tasks
- Develop apps, games, websites, and AI models

### âž¤ What is Programming?
Programming is writing a sequence of instructions (code) for the computer to execute.

### âœ… Practice Questions:
1. Why do we need to learn programming?
2. Give one example of a task that can be automated using programming.


##  What is Python Programming?
### âž¤ Why Python?
- Simple and beginner-friendly syntax
- Used for various tasks: web development, data analysis, AI/ML, automation
- Huge library support

### âž¤ What is Python?
Python is a high-level, interpreted programming language known for its readability and versatility.

### âœ… Practice Questions:
1. Who developed Python and in which year?
2. Why is Python popular among beginners?

#ðŸŸ¢ Your First Program  in Python

In [35]:
print("Hello, World!")

Hello, World!

| Part              | Description                                                                  |
| ----------------- | ---------------------------------------------------------------------------- |
| `print`           | A **function** to send output to the screen                                  |
| `()`              | **Parentheses** used to call the function                                    |
| `"Hello, World!"` | A **string** (text) inside quotes, which is the **argument** to the function |

â–¶ï¸ What happens when you run it?
Python executes the print() function, and sends the string "Hello, World!" to the console/output window.

In [36]:
print("Welcome to Python!")
print(42)
name = "Alice"
print(name)  # âž Alice
print("Name:", name, "Age:", 21)

Welcome to Python!
42
Alice
Name: Alice Age: 21


## Variables & Data Types in Python
### âž¤ Why Needed?
Variables are used to store and manipulate data in a program.

### âž¤ What are Variables?
Variables are like containers to store values.

### âž¤ Data Types:
| Type  | Example | Description         |
|-------|---------|---------------------|
| int   | 10      | Whole numbers        |
| float | 3.14    | Decimal numbers      |
| str   | "Hello" | Text data (strings)  |
| bool  | True    | Boolean (True/False) |

### âž¤ Example with Explanation:

In [ ]:

# Example of variables and data types
name = "Alice"  # string
age = 25        # integer
height = 5.4    # float
is_student = True  # boolean

# Printing all variables with their types
print("Name:", name)  # String variable
print("Age:", age)    # Integer variable
print("Height:", height)  # Float variable
print("Is Student:", is_student)  # Boolean variable

Name: Alice
Age: 25
Height: 5.4
Is Student: True


### âœ… Practice Questions:
1. Define a variable storing your favorite color and print it.
2. Create a variable storing your age and display its data type.

# Operators in Python
Python supports various types of operators to perform operations on variables and values.

In [ ]:
# Arithmetic Operators
a = 10
b = 3
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Modulus:", a % b)
print("Exponentiation:", a ** b)
print("Floor Division:", a // b)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Modulus: 1
Exponentiation: 1000
Floor Division: 3

In [ ]:
# Comparison Operators
print("Equal:", a == b)
print("Not Equal:", a != b)
print("Greater Than:", a > b)
print("Less Than:", a < b)
print("Greater or Equal:", a >= b)
print("Less or Equal:", a <= b)

Equal: False
Not Equal: True
Greater Than: True
Less Than: False
Greater or Equal: True
Less or Equal: False

In [ ]:
# Logical Operators
x = True
y = False
print("AND:", x and y)
print("OR:", x or y)
print("NOT:", not x)

AND: False
OR: True
NOT: False


### ðŸŽ¯ Mini Project: Basic Calculator
Create a simple calculator that takes two numbers from the user and prints their sum, difference, product, and quotient.

In [ ]:

# Basic Calculator Mini Project
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("Sum:", num1 + num2)
print("Difference:", num1 - num2)
print("Product:", num1 * num2)
if num2 != 0:
    print("Quotient:", num1 / num2)
else:
    print("Cannot divide by zero.")

Enter first number: 2
Enter second number: 3
Sum: 5.0
Difference: -1.0
Product: 6.0
Quotient: 0.6666666666666666


## Strings & Basic String Functions
### âž¤ Why Needed?
To work with text and manipulate string data.

### âž¤ Example with Explanation:

In [ ]:

# String Example
message = "Hello, Python!"
print("Original Message:", message)

# Convert to Uppercase
print("Uppercase:", message.upper())

# Convert to Lowercase
print("Lowercase:", message.lower())

# Get Length of String
print("Length:", len(message))

# Replace a word
print("Replace 'Python' with 'World':", message.replace("Python", "World"))

Original Message: Hello, Python!
Uppercase: HELLO, PYTHON!
Lowercase: hello, python!
Length: 14
Replace 'Python' with 'World': Hello, World!

## Strings and Their Immutability

In [38]:
# Strings are immutable means cannot be changed
s = "hello"
try:
    s[0] = 'H'
except TypeError as e:
    print("Error:", e)
print("Strings cannot be changed once created.")

Error: 'str' object does not support item assignment
Strings cannot be changed once created.


### âœ… Practice Questions:
1. Create a string variable with your name and print it in uppercase.
2. Find the length of the string "Learning Python is fun!".

#Python Data Structures:

##List
 list is an ordered, mutable collection of items.

It can store multiple items in a single variable.

Items can be of different data types â€” integers, strings, floats, etc.

ðŸ”„ Is List Mutable?
âœ… Yes, lists are mutable â€“ meaning their contents (elements) can be changed, updated, removed, or extended after creation.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits[1] = "orange"  # modifies item at index 1
print(fruits)         # ['apple', 'orange', 'cherry']

['apple', 'orange', 'cherry']

| Method               | Description                                | Example                            |
| -------------------- | ------------------------------------------ | ---------------------------------- |
| `append()`           | Adds item to the end of list               | `fruits.append("grape")`           |
| `insert(index, val)` | Inserts item at specific position          | `fruits.insert(1, "kiwi")`         |
| `extend()`           | Adds multiple elements                     | `fruits.extend(["mango", "pear"])` |
| `remove(value)`      | Removes first occurrence of value          | `fruits.remove("banana")`          |
| `pop(index)`         | Removes item at index (or last by default) | `fruits.pop()` or `fruits.pop(1)`  |
| `clear()`            | Empties the list                           | `fruits.clear()`                   |
| `index(value)`       | Returns index of first match               | `fruits.index("cherry")`           |
| `count(value)`       | Counts occurrences of value                | `fruits.count("apple")`            |
| `sort()`             | Sorts the list (in place)                  | `numbers.sort()`                   |
| `reverse()`          | Reverses the list                          | `fruits.reverse()`                 |
| `copy()`             | Returns a shallow copy of list             | `new_list = fruits.copy()`         |
| `len()`              | Returns number of items                    | `len(fruits)`                      |

In [ ]:
numbers = [10, 5, 8, 2]

numbers.append(20)
numbers.insert(1, 15)
numbers.sort()
numbers.reverse()
print(numbers)  # [20, 15, 10, 8, 5, 2]

[20, 15, 10, 8, 5, 2]

#Set
A set is an unordered, mutable, and unindexed collection of unique elements.
It's similar to sets in mathematics.

In [20]:
my_set = {1, 2, 3, 4,3}
print(my_set)
my_set = {"apple", "banana", "cherry"}
print(my_set)  # Output may be in any order

{1, 2, 3, 4}
{'cherry', 'banana', 'apple'}

| Property                       | Description                                      |
| ------------------------------ | ------------------------------------------------ |
| **Unordered**                  | No guaranteed order of elements                  |
| **No duplicates**              | Duplicate values are automatically removed       |
| **Mutable**                    | You can add/remove elements after creation       |
| **Unindexed**                  | You can't access items by index (no `my_set[0]`) |
| **Can hold any hashable data** | Numbers, strings, tuples (not lists/dicts)       |

## Basic Set Operation

In [19]:
# Create a set
colors = {"red", "green", "blue"}

# Add element
colors.add("yellow")

# Remove element safely
colors.discard("green")

# Set operations
primary = {"red", "blue"}
secondary = {"blue", "purple"}

print("Union:", primary.union(secondary))
print("Intersection:", primary & secondary)
print("Difference:", primary - secondary)

# Check membership
print("red" in colors)     # True
print("green" in colors)   # False

Union: {'purple', 'blue', 'red'}
Intersection: {'blue'}
Difference: {'red'}
True
False

| Feature    | Set                                                   |
| ---------- | ----------------------------------------------------- |
| Ordered    | âŒ No                                                  |
| Indexed    | âŒ No                                                  |
| Duplicates | âŒ Not allowed                                         |
| Mutable    | âœ… Yes                                                 |
| Methods    | `add()`, `remove()`, `union()`, `intersection()` etc. |

# Tuple
A tuple is an ordered, immutable, indexed collection of items.
Used when you want to store multiple values that should not change.
Defined using parentheses ().

In [21]:
coordinates = (10, 20)
print(coordinates)     # âž (10, 20)
t = 1, 2, 3
print(t)               # âž (1, 2, 3)

(10, 20)
(1, 2, 3)

| Property       | Description                                      |
| -------------- | ------------------------------------------------ |
| **Ordered**    | âœ… Yes â€“ items have fixed positions (like a list) |
| **Indexed**    | âœ… Yes â€“ you can access by index                  |
| **Immutable**  | âœ… Yes â€“ cannot change once created               |
| **Duplicates** | âœ… Yes â€“ duplicates are allowed                   |
| **Mixed Data** | âœ… Yes â€“ can store different types                |

ðŸ§ª Accessing Tuple Elements

In [22]:
student = ("Alice", 20, "Computer Science")
print(student[0])  # âž 'Alice'
print(student[-1]) # âž 'Computer Science'

Alice
Computer Science

ðŸ”’ Tuples are Immutable
You cannot modify or reassign elements in a tuple.

In [23]:
t = (1, 2, 3)
# t[0] = 100  # âŒ Error: TypeError: 'tuple' object does not support item assignment

| Function / Method   | Description                               |
| ------------------- | ----------------------------------------- |
| `len(t)`            | Returns number of elements in tuple       |
| `t.count(x)`        | Counts occurrences of value `x`           |
| `t.index(x)`        | Returns index of first occurrence of `x`  |
| `min(t)` / `max(t)` | Smallest / Largest value (numeric tuples) |
| `sum(t)`            | Sum of values (numeric tuples)            |
| `tuple()`           | Converts other sequences to tuple         |

In [25]:
t = (1, 2, 3, 2, 4, 2)

print("Length:", len(t))         # 6
print("Count of 2:", t.count(2)) # 3
print("Index of 4:", t.index(4)) # 4
print("Sum:", sum(t))            # 14

Length: 6
Count of 2: 3
Index of 4: 4
Sum: 14

| Feature     | Tuple       | List          |
| ----------- | ----------- | ------------- |
| Syntax      | `(1, 2, 3)` | `[1, 2, 3]`   |
| Mutable?    | âŒ No        | âœ… Yes         |
| Ordered?    | âœ… Yes       | âœ… Yes         |
| Indexed?    | âœ… Yes       | âœ… Yes         |
| Performance | âœ… Faster    | âŒ Slower      |
| Use Case    | Fixed data  | Changing data |

#Dictionary
A dictionary is a mutable, unordered (before Python 3.7) but insertion-ordered (from Python 3.7+) collection of key-value pairs.

Think of it as a real dictionary:
word âž meaning
key âž value

| Property              | Description                                    |
| --------------------- | ---------------------------------------------- |
| **Mutable**           | âœ… Yes â€“ can change, add, delete items          |
| **Ordered**           | âœ… Since Python 3.7 (insertion order preserved) |
| **Indexed?**          | âŒ No â€“ accessed by keys, not index numbers     |
| **Keys Unique**       | âœ… Yes â€“ keys must be unique                    |
| **Values Duplicates** | âœ… Allowed                                      |

In [29]:
student = {
    "name": "Alice",
    "name1":"Alice",
    "age": 21,
    "course": "B.Tech"
}

In [30]:
print(student["name"])  # âž Alice
print(student["name1"])

Alice
Alice

#Dictionary Functions


| Function / Method | Description                              |
| ----------------- | ---------------------------------------- |
| `dict()`          | Creates a dictionary                     |
| `len()`           | Number of key-value pairs                |
| `keys()`          | Returns all keys                         |
| `values()`        | Returns all values                       |
| `items()`         | Returns all key-value pairs              |
| `get(key)`        | Returns value for key or `None`          |
| `update()`        | Adds or updates multiple key-value pairs |
| `pop(key)`        | Removes a key and returns its value      |
| `clear()`         | Empties the dictionary                   |
| `del dict[key]`   | Deletes specific key                     |
| `in`              | Check if a key exists                    |

In [32]:
# -------------------------------
# Creating a Dictionary using dict()
# -------------------------------
print("â–¶ï¸ 1. Creating a dictionary")
student = dict(name=["Alice","Alice"], age=21, course="B.Tech")
print("Dictionary:", student)

# -------------------------------
# len(): Number of key-value pairs
# -------------------------------
print("\nâ–¶ï¸ 2. Length of dictionary")
print("Length:", len(student))  # Output: 3

# -------------------------------
# keys(): Get all keys
# -------------------------------
print("\nâ–¶ï¸ 3. Get all keys")
print("Keys:", student.keys())

# -------------------------------
# values(): Get all values
# -------------------------------
print("\nâ–¶ï¸ 4. Get all values")
print("Values:", student.values())

# -------------------------------
# items(): Get all key-value pairs
# -------------------------------
print("\nâ–¶ï¸ 5. Get all key-value pairs")
print("Items:", student.items())

# -------------------------------
# get(): Safely access values
# -------------------------------
print("\nâ–¶ï¸ 6. Get value for key 'course'")
print("Course:", student.get("course"))
print("Grade (not present):", student.get("grade"))  # Returns None, no error

# -------------------------------
# update(): Add or update values
# -------------------------------
print("\nâ–¶ï¸ 7. Update the dictionary")
student.update({"grade": "A", "age": 22})
print("Updated dictionary:", student)

# -------------------------------
# pop(): Remove a key and get its value
# -------------------------------
print("\nâ–¶ï¸ 8. Remove key using pop()")
removed_value = student.pop("grade")
print("Removed 'grade':", removed_value)
print("After pop:", student)

# -------------------------------
# clear(): Remove all items
# -------------------------------
print("\nâ–¶ï¸ 9. Clear the dictionary")
backup = student.copy()  # Save a copy before clearing
student.clear()
print("After clear:", student)

# -------------------------------
# del: Delete a specific key
# -------------------------------
print("\nâ–¶ï¸ 10. Delete specific key using del")
person = {"name": "John", "age": 30}
print("Before deletion:", person)
del person["age"]
print("After deleting 'age':", person)

# -------------------------------
# in: Check if key exists
# -------------------------------
print("\nâ–¶ï¸ 11. Check key existence using 'in'")
if "name" in person:
    print("Key 'name' exists!")
else:
    print("Key 'name' not found.")

if "age" in person:
    print("Key 'age' exists!")
else:
    print("Key 'age' not found.")

â–¶ï¸ 1. Creating a dictionary
Dictionary: {'name': ['Alice', 'Alice'], 'age': 21, 'course': 'B.Tech'}

â–¶ï¸ 2. Length of dictionary
Length: 3

â–¶ï¸ 3. Get all keys
Keys: dict_keys(['name', 'age', 'course'])

â–¶ï¸ 4. Get all values
Values: dict_values([['Alice', 'Alice'], 21, 'B.Tech'])

â–¶ï¸ 5. Get all key-value pairs
Items: dict_items([('name', ['Alice', 'Alice']), ('age', 21), ('course', 'B.Tech')])

â–¶ï¸ 6. Get value for key 'course'
Course: B.Tech
Grade (not present): None

â–¶ï¸ 7. Update the dictionary
Updated dictionary: {'name': ['Alice', 'Alice'], 'age': 22, 'course': 'B.Tech', 'grade': 'A'}

â–¶ï¸ 8. Remove key using pop()
Removed 'grade': A
After pop: {'name': ['Alice', 'Alice'], 'age': 22, 'course': 'B.Tech'}

â–¶ï¸ 9. Clear the dictionary
After clear: {}

â–¶ï¸ 10. Delete specific key using del
Before deletion: {'name': 'John', 'age': 30}
After deleting 'age': {'name': 'John'}

â–¶ï¸ 11. Check key existence using 'in'
Key 'name' exists!
Key 'age' not found.


##  Conditional Statements
### âž¤ Why Needed?
To make decisions in the program based on conditions.

### âž¤ Example with Explanation:

In [ ]:

# Example of Conditional Statement
age = int(input("Enter your age: "))

if age >= 18:
    print("You are an adult.")
elif age > 12:
    print("You are a teenager.")
else:
    print("You are a child.")

Enter your age: 19
You are an adult.


### âœ… Practice Questions:
1. Write a program to check if a number is positive or negative.
2. Write a program that checks whether a person can vote (age >= 18).

## Simple Calculator

In [ ]:
# Simple calculator for two numbers
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
operation = input("Choose operation (+, -, *, /): ")

if operation == '+':
    print("Result:", a + b)
elif operation == '-':
    print("Result:", a - b)
elif operation == '*':
    print("Result:", a * b)
elif operation == '/':
    print("Result:", a / b)
else:
    print("Invalid operation")

Enter first number: 20
Enter second number: 23
Choose operation (+, -, *, /): +
Result: 43.0

In [ ]:
# Exponential calculator
base = float(input("Enter base: "))
exponent = float(input("Enter exponent: "))
print("Result:", base ** exponent)

Enter base: 3
Enter exponent: 2
Result: 9.0

##Loops in Python and Mini Projects

Loops are used to repeat a block of code multiple times.

for Loop
Used when you know how many times you want to repeat something.

Real-life analogy:
â€œFor every student in the class, give them a notebook.â€

In [ ]:
#loops through List
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
#loops using range()
for i in range(5):  # 0 to 4
    print("Number:", i)

apple
banana
cherry
Number: 0
Number: 1
Number: 2
Number: 3
Number: 4

#Common for Loop Questions

In [ ]:
# 1. Print numbers from 1 to 10
print("1. Numbers from 1 to 10:")
for i in range(1, 11):
    print(i)

# 2. Print even numbers from 1 to 20
print("\n2. Even numbers from 1 to 20:")
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

# 3. Print numbers in reverse from 10 to 1
print("\n3. Reverse numbers from 10 to 1:")
for i in range(10, 0, -1):
    print(i)

# 4. Print squares from 1 to 5
print("\n4. Squares from 1 to 5:")
for i in range(1, 6):
    print(f"{i} squared is {i**2}")

# 5. Print each character of a string
print("\n5. Characters in the string 'Python':")
text = "Python"
for ch in text:
    print(ch)

# 6. Sum of numbers from 1 to 100
print("\n6. Sum of numbers from 1 to 100:")
total = 0
for i in range(1, 101):
    total += i
print("Total sum:", total)

# 7. Count vowels in a string
print("\n7. Count vowels in 'Hello World':")
text = "Hello World"
count = 0
for ch in text.lower():
    if ch in "aeiou":
        count += 1
print("Number of vowels:", count)

# 8. Print elements of a list
print("\n8. Elements of a list:")
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

# 9. Print all elements in uppercase
print("\n9. Uppercase names:")
names = ["alice", "bob", "carol"]
for name in names:
    print(name.upper())

# 10. Table of 7
print("\n10. Multiplication table of 7:")
n = 7
for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

# 11. Print only positive numbers from list
print("\n11. Positive numbers from list:")
nums = [-5, 3, -1, 7, -2, 8]
for num in nums:
    if num > 0:
        print(num)

# 12. Sum of elements in a list
print("\n12. Sum of marks in list:")
marks = [45, 67, 89, 34]
total = 0
for mark in marks:
    total += mark
print("Total marks:", total)

# 13. Count occurrence of number 2 in list
print("\n13. Count of 2s in list:")
nums = [1, 2, 3, 2, 4, 2, 5]
count = 0
for num in nums:
    if num == 2:
        count += 1
print("2 appears", count, "times")

# 14. Pattern: Triangle of *
print("\n14. Triangle Pattern:")
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

# 15. Demo of break and continue
print("\n15. Loop with break and continue:")
for i in range(10):
    if i == 5:
        continue  # Skip when i == 5
    if i == 8:
        break     # Stop when i == 8
    print(i)

1. Numbers from 1 to 10:
1
2
3
4
5
6
7
8
9
10

2. Even numbers from 1 to 20:
2
4
6
8
10
12
14
16
18
20

3. Reverse numbers from 10 to 1:
10
9
8
7
6
5
4
3
2
1

4. Squares from 1 to 5:
1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

5. Characters in the string 'Python':
P
y
t
h
o
n

6. Sum of numbers from 1 to 100:
Total sum: 5050

7. Count vowels in 'Hello World':
Number of vowels: 3

8. Elements of a list:
apple
banana
cherry

9. Uppercase names:
ALICE
BOB
CAROL

10. Multiplication table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

11. Positive numbers from list:
3
7
8

12. Sum of marks in list:
Total marks: 235

13. Count of 2s in list:
2 appears 3 times

14. Triangle Pattern:
*
**
***
****
*****

15. Loop with break and continue:
0
1
2
3
4
6
7

# while Loop
Used when you want to repeat a task until a condition is false.

In [ ]:
count = 1
while count <= 5:
    print("Count is", count)
    count += 1

Count is 1
Count is 2
Count is 3
Count is 4
Count is 5

# Common While Loop Questions

In [ ]:

# 1. Print numbers from 1 to 10
print("1. Numbers from 1 to 10 (while):")
i = 1
while i <= 10:
    print(i)
    i += 1

# 2. Print even numbers from 1 to 20
print("\n2. Even numbers from 1 to 20 (while):")
i = 1
while i <= 20:
    if i % 2 == 0:
        print(i)
    i += 1

# 3. Print numbers in reverse from 10 to 1
print("\n3. Reverse numbers from 10 to 1 (while):")
i = 10
while i >= 1:
    print(i)
    i -= 1

# 4. Print squares from 1 to 5
print("\n4. Squares from 1 to 5 (while):")
i = 1
while i <= 5:
    print(f"{i} squared is {i**2}")
    i += 1

# 5. Print each character of a string
print("\n5. Characters in the string 'Python' (while):")
text = "Python"
idx = 0
while idx < len(text):
    print(text[idx])
    idx += 1

# 6. Sum of numbers from 1 to 100
print("\n6. Sum of numbers from 1 to 100 (while):")
i, total = 1, 0
while i <= 100:
    total += i
    i += 1
print("Total sum:", total)

# 7. Count vowels in a string
print("\n7. Count vowels in 'Hello World' (while):")
text = "Hello World"
idx, count = 0, 0
while idx < len(text):
    if text[idx].lower() in "aeiou":
        count += 1
    idx += 1
print("Number of vowels:", count)

# 8. Print elements of a list
print("\n8. Elements of a list (while):")
fruits = ["apple", "banana", "cherry"]
idx = 0
while idx < len(fruits):
    print(fruits[idx])
    idx += 1

# 9. Print all elements in uppercase
print("\n9. Uppercase names (while):")
names = ["alice", "bob", "carol"]
idx = 0
while idx < len(names):
    print(names[idx].upper())
    idx += 1

# 10. Table of 7
print("\n10. Multiplication table of 7 (while):")
n, i = 7, 1
while i <= 10:
    print(f"{n} x {i} = {n*i}")
    i += 1

# 11. Print only positive numbers from list
print("\n11. Positive numbers from list (while):")
nums = [-5, 3, -1, 7, -2, 8]
idx = 0
while idx < len(nums):
    if nums[idx] > 0:
        print(nums[idx])
    idx += 1

# 12. Sum of elements in a list
print("\n12. Sum of marks in list (while):")
marks = [45, 67, 89, 34]
idx, total = 0, 0
while idx < len(marks):
    total += marks[idx]
    idx += 1
print("Total marks:", total)

# 13. Count occurrence of number 2 in list
print("\n13. Count of 2s in list (while):")
nums = [1, 2, 3, 2, 4, 2, 5]
idx, count = 0, 0
while idx < len(nums):
    if nums[idx] == 2:
        count += 1
    idx += 1
print("2 appears", count, "times")

# 14. Pattern: Triangle of *
print("\n14. Triangle Pattern (while):")
row = 1
while row <= 5:
    col = 0
    while col < row:
        print("*", end="")
        col += 1
    print()      # newline after each row
    row += 1

# 15. Demo of break and continue with while
print("\n15. Whileâ€‘loop with break and continue:")
i = 0
while True:
    if i == 5:
        i += 1
        continue       # skip printing 5
    if i == 8:
        break          # exit loop entirely
    print(i)
    i += 1

1. Numbers from 1 to 10 (while):
1
2
3
4
5
6
7
8
9
10

2. Even numbers from 1 to 20 (while):
2
4
6
8
10
12
14
16
18
20

3. Reverse numbers from 10 to 1 (while):
10
9
8
7
6
5
4
3
2
1

4. Squares from 1 to 5 (while):
1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

5. Characters in the string 'Python' (while):
P
y
t
h
o
n

6. Sum of numbers from 1 to 100 (while):
Total sum: 5050

7. Count vowels in 'Hello World' (while):
Number of vowels: 3

8. Elements of a list (while):
apple
banana
cherry

9. Uppercase names (while):
ALICE
BOB
CAROL

10. Multiplication table of 7 (while):
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

11. Positive numbers from list (while):
3
7
8

12. Sum of marks in list (while):
Total marks: 235

13. Count of 2s in list (while):
2 appears 3 times

14. Triangle Pattern (while):
*
**
***
****
*****

15. Whileâ€‘loop with break and continue:
0
1
2
3
4
6
7

#ðŸ”´ break in Python
âœ… Purpose:
break is used to exit the loop immediately, even if the loop condition is still true.

Example 1 â€“ break in for loop:

In [ ]:
for i in range(1, 10):
    if i == 5:
        print("Breaking the loop at", i)
        break
    print("i =", i)

i = 1
i = 2
i = 3
i = 4
Breaking the loop at 5

Example 2:break in while loop:

In [ ]:
i = 1
while i <= 10:
    if i == 7:
        print("Loop stopped at", i)
        break
    print("i =", i)
    i += 1

i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
Loop stopped at 7

#ðŸŸ¡ continue in Python
âœ… Purpose:
continue is used to skip the current iteration and move to the next one.

In [ ]:
for i in range(1, 6):
    if i == 3:
        print("Skipping", i)
        continue
    print("i =", i)

i = 1
i = 2
Skipping 3
i = 4
i = 5

In [ ]:
i = 0
while i < 5:
    i += 1
    if i == 3:
        print("Skipping", i)
        continue
    print("i =", i)

i = 1
i = 2
Skipping 3
i = 4
i = 5

#Guess The Number Game

In [ ]:
import random

number = random.randint(1, 100)
guess = None

while guess != number:
    guess = int(input("Guess the number (1-100): "))
    if guess < number:
        print("Too low!")
    elif guess > number:
        print("Too high!")
    else:
        print("Congratulations! You guessed it.")

Guess the number (1-100): 4
Too low!
Guess the number (1-100): 3
Too low!
Guess the number (1-100): 1
Too low!
Guess the number (1-100): 3
Too low!
Guess the number (1-100): 80
Too high!
Guess the number (1-100): 70
Too low!
Guess the number (1-100): 75
Too low!
Guess the number (1-100): 76
Congratulations! You guessed it.

#âœ–ï¸ Multiplication Table (within range)

In [ ]:
start = int(input("Enter start number: "))
end = int(input("Enter end number: "))

for i in range(start, end + 1):
    print(f"\nMultiplication Table for {i}")
    for j in range(1, 11):
        print(f"{i} x {j} = {i*j}")

Enter start number: 3
Enter end number: 5

Multiplication Table for 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication Table for 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication Table for 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# Mini Project: Sum of digits of a number using while loop
number = int(input("Enter a number: "))
sum_digits = 0
while number > 0:
    sum_digits += number % 10
    number //= 10
print("Sum of digits:", sum_digits)

Enter a number: 123
Sum of digits: 6

## Functions in Python
Functions help you reuse blocks of code and organize your logic into reusable pieces.

In [ ]:
# Simple function
def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))

Hello, Alice!

In [ ]:
# Function with default arguments
def power(base, exponent=2):
    return base ** exponent

print("Square of 3:", power(3))
print("Cube of 2:", power(2, 3))

Square of 3: 9
Cube of 2: 8

In [ ]:
# Function with variable number of arguments
def add_all(*args):
    return sum(args)

print("Sum of numbers:", add_all(1, 2, 3, 4, 5))

Sum of numbers: 15

### Mini Project: Calculator using Functions

In [ ]:
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    return a / b if b != 0 else "Cannot divide by zero"

# Main logic
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
op = input("Choose operation (+, -, *, /): ")

if op == '+':
    print("Result:", add(a, b))
elif op == '-':
    print("Result:", subtract(a, b))
elif op == '*':
    print("Result:", multiply(a, b))
elif op == '/':
    print("Result:", divide(a, b))
else:
    print("Invalid operation")

Enter first number: 2
Enter second number: 3
Choose operation (+, -, *, /): +
Result: 5.0

# Project: Student Marks Management System
âœ… Concepts Covered:


*   Variables
*   if-else
*   while and for loops
*   list, tuple, dictionary
*    User input and basic operations




ðŸ—ï¸ Project Description:
Build a simple system to:


1.  Take student details (name, roll, subjects, marks)
2.   Store the data in a dictionary
3.   Display total, average, and grade
4.   Allow searching by roll number




ðŸ’¡ Features:


1.  Add student records
2.  Display all students
3.  Search by roll number
4. Exit

In [34]:
students = {}  # Main dictionary to hold student records

def add_student():
    roll = input("Enter Roll Number: ")
    name = input("Enter Name: ")
    subjects = input("Enter subjects (comma separated): ").split(',')

    marks = []
    for subject in subjects:
        mark = float(input(f"Enter marks for {subject.strip()}: "))
        marks.append(mark)

    total = sum(marks)
    avg = total / len(marks)

    # Grade based on average
    if avg >= 90:
        grade = "A+"
    elif avg >= 75:
        grade = "A"
    elif avg >= 60:
        grade = "B"
    elif avg >= 50:
        grade = "C"
    else:
        grade = "F"

    # Store in dictionary
    students[roll] = {
        "name": name,
        "subjects": tuple(subject.strip() for subject in subjects),
        "marks": marks,
        "total": total,
        "average": avg,
        "grade": grade
    }
    print("âœ… Student added successfully!\n")


def display_all():
    if not students:
        print("âš ï¸ No student records found.\n")
        return

    for roll, data in students.items():
        print(f"\nðŸŽ“ Roll No: {roll}")
        print(f"Name: {data['name']}")
        print("Subjects and Marks:")
        for i in range(len(data['subjects'])):
            print(f"  {data['subjects'][i]}: {data['marks'][i]}")
        print(f"Total: {data['total']}")
        print(f"Average: {data['average']:.2f}")
        print(f"Grade: {data['grade']}")


def search_student():
    roll = input("Enter roll number to search: ")
    if roll in students:
        data = students[roll]
        print(f"\nðŸŽ¯ Found Student with Roll No {roll}")
        print(f"Name: {data['name']}")
        for i in range(len(data['subjects'])):
            print(f"  {data['subjects'][i]}: {data['marks'][i]}")
        print(f"Total: {data['total']}")
        print(f"Average: {data['average']:.2f}")
        print(f"Grade: {data['grade']}")
    else:
        print("âŒ Student not found.\n")


# Main menu
while True:
    print("\nðŸ“˜ Student Marks Management")
    print("1. Add Student")
    print("2. Display All Students")
    print("3. Search Student by Roll Number")
    print("4. Exit")

    choice = input("Enter your choice (1-4): ")

    if choice == "1":
        add_student()
    elif choice == "2":
        display_all()
    elif choice == "3":
        search_student()
    elif choice == "4":
        print("ðŸ‘‹ Exiting... Goodbye!")
        break
    else:
        print("âš ï¸ Invalid choice. Please try again.")

ðŸ“˜ Student Marks Management
1. Add Student
2. Display All Students
3. Search Student by Roll Number
4. Exit
Enter your choice (1-4): 1
Enter Roll Number: alice
Enter Name: 1
Enter subjects (comma separated): dbms,maths,science
Enter marks for dbms: 90
Enter marks for maths: 99
Enter marks for science: 45
âœ… Student added successfully!


ðŸ“˜ Student Marks Management
1. Add Student
2. Display All Students
3. Search Student by Roll Number
4. Exit
Enter your choice (1-4): 3
Enter roll number to search: 1
âŒ Student not found.


ðŸ“˜ Student Marks Management
1. Add Student
2. Display All Students
3. Search Student by Roll Number
4. Exit
Enter your choice (1-4): 4
ðŸ‘‹ Exiting... Goodbye!